*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
font-family: 'Poppins', sans-serif;
}
#main{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#nav{
  width: 100%;
  height: 6%;
  /* background-color: antiquewhite; */
  position: relative;
  border-bottom: 2px solid rgb(95, 91, 91)  ;
}
#msgbox{
  width: 100%;
  height: 72%;
  /* background-color: red; */
}
.msg{
  width: fit-content;
  background: rgb(67, 67, 243);
  padding: 10px 20px;
  margin-top: 10px;
  margin-left: 30px;
  border-radius: 15px;
  color: #dadada;
  auto:s
  /* scroll-behavior: auto; */
  /* display: none; */
}
textarea{
  border: 1px solid #dadada;
  width: 100%;
  height: 10%;
  resize: none;
  outline: none;
}
button{
  width: 100%;
  height: 10%;
  background-color: royalblue;
}
#fixed{
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 40px 30px;
  /* width: 30vh; */
  background-color: rgb(30, 136, 228);
}
#card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
#nameplace{
  padding: 7px 15px;
  cursor:text;
}
#topright{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  gap:10px;
  /* right: 5%; */
}
/* #topright i {
  font-size: 20px;
} */
#fixed{
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 40px 30px;
  /* width: 30vh; */
  background-color: rgb(30, 136, 228);
}
#card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
#nameplace{
  padding: 7px 15px;
  cursor:text;
}
#topright{
  /* position: absolute; */
  display: flex;
  align-items: center;
  gap:10px;
  right: 5%;
}
#setname{
  padding: 16px 0px;
} 
